# 数据库相关*********************************************************
db=mysql
jdbc.driver=com.mysql.jdbc.Driver
jdbc.username=root
jdbc.url=jdbc:mysql://127.0.0.1:3306/bl04?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true
jdbc.password=123456
# end数据库相关

# 开发模式
devMode = true
baseUploadPath = C://bl04_attachment

# 是否输出sql
show_sql = true

# 开发环境 or 正式环境
DEV_OR_PRD = DEV
# 程序运行环境：一体机PC、车间服务器PLANT、云中心CENTER
RUN_ENVIRONMENT = PLANT

# 数据同步相关
# 一体机 or 车间服务器 or 云中心
sync.pc2plant.signalinfo = http://127.0.0.1:61041/bl04/ApiPlant/reciveSignalInfo
sync.plant2center.kucun = http://127.0.0.1:61042/bl04/ApiCenter/reciveKuCun
sync.plant2center.kanban = http://127.0.0.1:61042/bl04/ApiCenter/reciveKanBan
sync.center2plant.gdan = http://127.0.0.1:61042/bl04/ApiCenter/reciveGDan

# 串口相关
# 是否运行串口相关程序
iocard.todo = true
iocard.cardNumber = DA7A
iocard.plantId = 1001
iocard.endFlag = EE
iocard.portname = COM3