# 数据库相关*********************************************************
db=mysql
jdbc.driver=com.mysql.jdbc.Driver
jdbc.username=root
jdbc.url=jdbc:mysql://127.0.0.1:3306/quick.mes?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true
jdbc.password=123456
# end数据库相关

# 是否输出sql
show_sql = true